<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maayan's Blog</title>
</head>
<body>
    <div>
        <h1>Welcome to my blog</h1>
        <h6>I owe it to <a href="http://djangogirls.org">Django Girls!</a></h6>
    </div>
    <div>
        <h3>My first post</h3>
        <p>
            <ul>
                <li>It's slow going</li>
                <li>But we'll make it happen</li>
            </ul>
        </p>
    </div>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>